<!doctype html>
<title>Is it too windy to bike today?</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
    <h2 class="page-title">Is it too windy to bike to work today?</h1>
    <div class="answer">
    {% if high_speed > 15.0 %}
        <h1> Yes. </h1>
    {% else %}
        <h1> No. </h1>
    {% endif %}
    </div>
    {% block body %}{% endblock %}
</div>

<form>
    <label>Check another zip code: </label>
    <input type="text" name="user-zip">
    <div class= "set-mph">
        <br>
        <label>How windy is too windy?</label>
        <output name="x" for="mph" value = "15">15</output> mph
        <input type="range" name="mph" min="10" max="30" value="15">
    </div>
    <div>
        <br>
        <input type="submit" value = "Check Zip" class = "submit-button">
    </div>
</form>

<footer>Created by <a target="_blank" href="https://github.com/mmazanec22/too-windy">Melanie Mazanec</a>.  Powered by <a target="_blank" href="https://darksky.net/poweredby/">Dark Sky</a>.</footer>